{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
	<div class="card-body">
		<h1>Welcome To HAQQ!</h1>
		<p>This is an Online Voting System</p>
		<h4>Log In</h4>
		<form action="">
            Voter ID:  
            <input type="text" name="username" maxlength="10">
            <br>
            <br>
            Password:
            <input type="text" name="password" maxlength="10">
            <br>
            <br>
            
        </form>
		
		<a class="btn btn-dark" href="{% url 'polls:index' %}">
			Vote Now</a>
	</div>
</div>
{% endblock %}

